<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DKU Color Sound Text Relaxation System</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}">
        <script defer
            src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>

        <div id="top-bar">DKU Color Sound Text Relaxation System
            <button class="button" onclick="openCustomize()">Customize</button>
        </div>

        <!-- 🔹 Customize top bar 🔹 -->
        <div id="overlay-customize"></div>
        <div id="modal-customize">
            <button class="close-btn" onclick="closeCustomize()">X</button>
            <h2>Upload your prompt speaker</h2>
            <form id="upload-form" enctype="multipart/form-data">
                <label for="file-upload">Your speaker:</label>
                <input type="file" id="file-upload" name="file" accept=".wav"
                    required>
                <input type="text" name="text" required
                    placeholder="Enter text that the speaker says">
                <button type="submit">Upload</button>
                <p id="upload-message"></p>
            </form>
            <h2>Change background Music </h2>
            <audio autoplay controls id='background-music'>
                <source src="{{ url_for('static', filename='background.wav') }}"
                    type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

        <div id="chat-box"></div>

        <div id="input-container">
            <input type="text" id="user-input"
                placeholder="Ask for a color therapy...">
            <button id="generate-response-btn" class="button"
                onclick="generateResponse()">Ask</button>
        </div>

        <script id="backend-path" type="application/json">
        {{ backend_path|tojson }}
    </script>

    </body>
</html>
